.app {
  width: 90%;
  margin: auto;
}

h1.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #3867fa;
  padding: 20px 0 10px;
}

p.description {
  margin-bottom: 20px;
  color: rgb(76, 76, 94);
}

button {
  outline: none !important;
}

#pagination-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.table-data-loading small {
  font-size: 12px;
  color: #888;
}
